html {
    background-color: #e1e1e1;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#bgg {
    height: 80px;
}

.gameimage {
    max-height: 480px !important;
    height: auto !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.card.is-fullheight {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-image {
    flex-grow: 1;
}

.card-image figure {
    height: 100%;
    background-color: #b0b0b0;
    border-top-left-radius: var(--bulma-card-radius);
    border-top-right-radius: var(--bulma-card-radius);
    align-items: center;
    display: flex;
}

.card-content {
    margin-top: auto;
}
