[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
psycopg = "*"
boto3 = "*"
requests = "*"
requests-cache = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
