{% extends "_base.jinja" %}
{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <p class="block">Sorry! You either don't have access to this page or it doesn't exist.</p>
        <a class="button is-link" href="/">Go Home</a>
    </div>
</section>
{% endblock content %}
