{% extends "_base.jinja" %}

{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@telophase/bulma-horizontal-card/css/bulma-horizontal-card.min.css">
{% endblock header %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="card is-horizontal">
            <div class="card-image">
                <figure class="image">
                    <img
                        src="/games/{{ game.bgg_id }}/image"
                        alt="{{ game.name }} Image"
                        class="gameimage"
                        loading="lazy"
                    />
                </figure>
            </div>
            
            <div class="card-content game-info">
                <div class="media-content">
                    <h1 class="title">{{ game.name }}</h1>
                    
                    <div class=infogrid>
                        <div><h1>Location: </h1> </div>
                        <div>{{ game.location }}</div>

                        <div>Player count:</div> 
                        <div>0 - inf</div>

                        <div>Publisher:</div>
                        <div>
                        {% if game.publishers|length > 0 %}
                                {% for publisher in game.publishers %}
                                     <span>{{ publisher.name }} </span>
                                {% endfor %}
                        {% endif %}
                        </div>

                        <div>Tags : </div>
                        <div>
                            {% for tag in game.tags %}
                                {% if tag.name %}
                                    <span class="tag is-info is-medium" >{{ tag.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
