{% extends "_base.jinja" %}
{% block header %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock header %}
{% block content %}
<section class="section">
    <h1 class="title">Hello World!</h1>
</section>
{% endblock content %}
